.header{
    display: flex;
    background: var(--header);
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8rem;
    height: 60px;
    position: relative;
}
.logo{
    align-content: center;
}
.nav{
    align-items: center;
    display: flex;
}
.nav_list{
    display: flex;
    gap: 4.8rem;
    align-items: center;
    list-style: none;
}
.nav_link:link,
.nav_link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}
.nav_link:hover,
.nav_link:active {
  color: #cf711f;
}
.menu{
    display: none;
}
/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.035);
}

@media screen and (max-width: 768px){
    .header{
        padding: 0 2rem;
    }
    .menu{
        display: block;
    }
    .nav{
        position: absolute;
        display: flex;
        top: 10vh;
        right: 0;
        height: 90vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.9);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .mobile_menu .toggle{
      display: flex;
      top: 60px;
      right: 0;
      background: var(--primary);
    }

      .nav__menu {
        position: fixed;
        top: 7vh;
        right: 0;
        height: 93vh;
        width: 50vw;
        background: rgb(0, 33, 65);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
      }
}
/*.open_nav{
			background: var(--primary);
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			transform: translateX(0%);
			transition: transform 0.8s cubic-bezier(0.83, 0, 0.17,1);

    }*/
    .nav__menu {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 3rem;
    }
    .nav__active {
      transform: translateX(0);
    }
        .open_nav {
    			opacity: 1;
    			visibility: visible;
    			pointer-events: auto;
    			transform: translateX(0%);


        }
@media screen and(max-width: 960px) {
    html{
        font-size: 505;
    }
    .nav{
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background: var(--white);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .nav_list{
			flex-direction: column;
			gap: 4.8rem;
    }
    /*'md:mt-6 flex flex-col justify-start items-center  pl-4 w-full border-gray-600 border-b space-y-3 pb-5'*/
}