@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500@display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary: #00040f;
  --primary-200: #b4d3fe;
  --primary-400: #5098fc;
  --primary-500: #03449d;
  --primary-600: #034caf;
  --primary-700: #02367d;
  --primary-800: #01214b;
  --secondary: #00f6ff;
  --links: #61dafb;
  --white: #fff;
  --header: rgba(9, 151, 124, 0.1);
  --dimWhite: rgba(255, 255, 255, 0.7);
  --dimBlue: rgba(9, 151, 124, 0.1);
  --whiteRGB: rgba(255, 255, 255, 0.9);
}
*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: var(--dimBlue);
  cursor: pointer;
}

/***********************/
/* FOOTER SECTION      */
/***********************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  align-items: center;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
  margin-bottom: 1.8rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 3.2rem;
}

.contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1.8rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

@media (max-width: 48.25em) {
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
  .logo-col,
  .address-col {
    grid-row: 2;
    grid-column: span 3;
  }
}
.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}

