@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500@display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary: #00040f;
  --primary-200: #b4d3fe;
  --primary-400: #5098fc;
  --primary-500: #03449d;
  --primary-600: #034caf;
  --primary-700: #02367d;
  --primary-800: #01214b;
  --secondary: #00f6ff;
  --links: #61dafb;
  --white: #fff;
  --header: rgba(9, 151, 124, 0.1);
  --dimWhite: rgba(255, 255, 255, 0.7);
  --dimBlue: rgba(9, 151, 124, 0.1);
  --whiteRGB: rgba(255, 255, 255, 0.9);
}
*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  cursor: pointer;
}
svg.gear { 
  animation: r .5s infinite linear; 
}
.gear {
  animation: r .5s infinite linear;
}

@keyframes r {
  0% { 
    transform: rotate(0deg); 
  } 
  100% { 
    transform: rotate(45deg); 
  }
}


