*,*::after,*::before{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.main_header{
  display: flex;
  background: #7FC;
  color: white;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
li{
  list-style: none;
}
.home_link{
  text-decoration: none;
}
.header_link{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_link li >a{
  text-decoration: none;
}
.header_icons{
  display: none;
}
.header_icons dev {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  /*background: rgb(204, 204, 204);*/
  background: red;
  transition: 0.3s ease-in;
}
@media screen and (max-width:768px){
  .header_icons{
    display: block;
    cursor: pointer;
  }
  .header_link{
    display: block;
    background:  rgba(251, 252, 252, 0.795);
    position: fixed;
    top: 10vh;
    right: 0;
    height: 100vh;
    width: 60vw;
    transform: translateX(100%);
    transition: .5s ease-in;
  }
  .header_link a{
    padding: 10px 20px;
  }
}
.header_link_active{
  transform: translateX(0%);
}